<h1>Listing polls</h1>

<table>
  <thead>
    <tr>
      <th>Tier1 team1</th>
      <th>Tier1 team2</th>
      <th>Tier2 team1</th>
      <th>Tier2 team2</th>
      <th>Tier3 team1</th>
      <th>Tier3 team2</th>
      <th>Tier4 team1</th>
      <th>Tier4 team2</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Tiebreaker</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.tier1_team1 %></td>
        <td><%= poll.tier1_team2 %></td>
        <td><%= poll.tier2_team1 %></td>
        <td><%= poll.tier2_team2 %></td>
        <td><%= poll.tier3_team1 %></td>
        <td><%= poll.tier3_team2 %></td>
        <td><%= poll.tier4_team1 %></td>
        <td><%= poll.tier4_team2 %></td>
        <td><%= poll.player1 %></td>
        <td><%= poll.player2 %></td>
        <td><%= poll.tiebreaker %></td>
        <td><%= poll.user_id %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
