<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <h2>Brazil 2014 Challenge</h2>

    <br>
    <br>
    
  </div>

  <div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr class="center" style="background-color: #EE6363">
            <th></th>
            <th>Name</th>
            <th>Poll</th>
            <th>Total</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Group</th>
            <!--
            <th>Advance</th>
            <th>Round of 16</th>
            <th>Quarterfinal</th>
            <th>Semifinal</th>
            <th>Final</th>-->
          </tr>
        </thead>

        <tbody>
          <% count = 0 %>
          <% prevScore = -1 %>
          <% @polls.each do |poll| %>

            <% if prevScore != poll.score %>
              <% count = count + 1 %>
              <% prevScore = poll.score %>
            <% end %>

            <tr class="center">
              <td style="text-align:right;"><%= count %>.</td>
                
              <% if current_user.name == poll.user.name %>
                <td class="larger" style="color:red"><%= poll.user.name %></td>
              <% else %>
                <td class="bigger"><%= poll.user.name %></td>
              <% end %>
            
              <% if current_user.name == poll.user.name %>
                <td class="hover larger"><%= link_to poll.name, poll, :class => "red-color" %></td>
              <% else %>
                <td class="hover bigger"><%= link_to poll.name, poll %></td>
              <% end %>

              <% if current_user.name == poll.user.name %>
                <td class="larger" style="color: red;"><b><%= poll.score %></b></td>
              <% else %>
                <td class="bigger"><b><%= poll.score %></b></td>
              <% end %>
              <td><%= poll.player1_score %></td>
              <td><%= poll.player2_score %></td>
              <td><%= poll.group_score %></td>
              <!--
              <td><%= poll.advance_from_group %></td>
              <td><%= poll.round_of_sixteen %></td>
              <td><%= poll.quarterfinal_score %></td>
              <td><%= poll.semifinal_score %></td>
              <td><%= poll.championship_score %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>