<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <h2>My Polls</h2>

    <br>
    <br>
    
  </div>

  <div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr class="center" style="background-color: #EE6363">
            <th>Name</th>
            <th>Poll</th>
            <th>Total</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Group</th>
            <!--
            <th>Advance</th>
            <th>Round of 16</th>
            <th>Quarterfinal</th>
            <th>Semifinal</th>
            <th>Final</th>-->
          </tr>
        </thead>

        <tbody>
          <% @polls.each do |poll| %>
            <tr class="center">
              <td><%= poll.user.name %></td>
              <td class="hover"><%= link_to poll.name, poll %></td>
              <td><%= poll.score %></td>
              <td><%= poll.player1_score %></td>
              <td><%= poll.player2_score %></td>
              <td><%= poll.group_score %></td>
              <!--
              <td><%= poll.advance_from_group %></td>
              <td><%= poll.round_of_sixteen %></td>
              <td><%= poll.quarterfinal_score %></td>
              <td><%= poll.semifinal_score %></td>
              <td><%= poll.championship_score %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>