<p id="notice"><%= notice %></p>

<p>
  <strong>Tier1 team1:</strong>
  <%= @poll.tier1_team1 %>
</p>

<p>
  <strong>Tier1 team2:</strong>
  <%= @poll.tier1_team2 %>
</p>

<p>
  <strong>Tier2 team1:</strong>
  <%= @poll.tier2_team1 %>
</p>

<p>
  <strong>Tier2 team2:</strong>
  <%= @poll.tier2_team2 %>
</p>

<p>
  <strong>Tier3 team1:</strong>
  <%= @poll.tier3_team1 %>
</p>

<p>
  <strong>Tier3 team2:</strong>
  <%= @poll.tier3_team2 %>
</p>

<p>
  <strong>Tier4 team1:</strong>
  <%= @poll.tier4_team1 %>
</p>

<p>
  <strong>Tier4 team2:</strong>
  <%= @poll.tier4_team2 %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @poll.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @poll.player2 %>
</p>

<p>
  <strong>Tiebreaker:</strong>
  <%= @poll.tiebreaker %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user_id %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
