<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2">
      <h2><%= @poll.name %></h2>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2">
      <p class="larger"><b><u>Tier 1</u></b></p>
      <br>
      <%= @poll.tier1team1 %>
      <br>
      <%= @poll.tier1team2 %>
      <br><br><br>
    </div>

    <div class="col-md-2">
      <p class="larger"><b><u>Tier 2</u></b></p>
      <br>
      <%= @poll.tier2team1 %>
      <br>
      <%= @poll.tier2team2 %>
      <br><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2">
      <p class="larger"><b><u>Tier 3</u></b></p>
      <br>
      <%= @poll.tier3team1 %>
      <br>
      <%= @poll.tier3team2 %>
      <br><br><br>
    </div>

    <div class="col-md-2">
      <p class="larger"><b><u>Tier 4</u></b></p>
      <br>
      <%= @poll.tier4team1 %>
      <br>
      <%= @poll.tier4team2 %>
      <br><br><br>
    </div>

    <div class="col-md-4">
      <p class="larger"><b><u>Players</u></b></p>
      <br>
      <%= @poll.player1 %>
      <br>
      <%= @poll.player2 %>
    </div>
  </div>

  <% if can? :edit, @poll %>
    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-2">
        <br>
        <br>
        <%= link_to edit_poll_path(@poll) do %>
          <button class="btn btn-info">
            <span class="larger">Edit this Poll</span>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>