<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @poll.user_id %>
</p>

<p>
  <strong>Tiebreaker:</strong>
  <%= @poll.tiebreaker %>
</p>

<p>
  <strong>Tier1team1:</strong>
  <%= @poll.tier1team1 %>
</p>

<p>
  <strong>Tier1team2:</strong>
  <%= @poll.tier1team2 %>
</p>

<p>
  <strong>Tier2team1:</strong>
  <%= @poll.tier2team1 %>
</p>

<p>
  <strong>Tier2team1:</strong>
  <%= @poll.tier2team1 %>
</p>

<p>
  <strong>Tier3team1:</strong>
  <%= @poll.tier3team1 %>
</p>

<p>
  <strong>Tier3team2:</strong>
  <%= @poll.tier3team2 %>
</p>

<p>
  <strong>Tier4team1:</strong>
  <%= @poll.tier4team1 %>
</p>

<p>
  <strong>Tier4team2:</strong>
  <%= @poll.tier4team2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
